/******************************************************导航条设置************************************************************/
a:focus{
	outline:none;
}

.navbar .navbar-brand{
	color:white;
	font-size:25px;
}

/******************************************************************************************************************/
.carousel-inner img{
	width:100%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}

.container button:focus{
	outline:none;
}

.container .a2{
	text-decoration:none;
}

.container p{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.carousel-caption h4{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

#home .carousel-control{
	border-radius:5px;
}
/*******************************************************content1.html******************************************************/
	#content1 h4{
		text-align:center;
	}
/*******************************************************contact.html******************************************************/
	#contact img{
		box-shadow:5px 3px 3px #ccc;
	}
	#contact .col-md-6{
		text-align:center;
	}
	
@media (min-width:768px){
	
}

@media (min-width:992px){
	#content1 h4{
		font-size:18px;
	}
}

@media (min-width:1200px){
	#content1 h4{
		font-size:20px;
	}
}
































